/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 2 version
*/

:root {
    --basic-text-color             : #000000;
    --basic-link-hover             : #FF7931;
    --basic-link-active            : #F6A77C;
    --basic-text-light             : #FFFFFF;
    --basic-footer-background-color: #575757;
}

body {
    min-width       : 1440px;
    margin          : 0;
    padding         : 0;
    font-family     : "Roboto", "Arial", sans-serif;
    font-size       : 14px;
    line-height     : 21px;
    font-weight     : 400;
    background-color: #ffffff;
}

.container {
    width : 1440px;
    margin: 0 auto;
}

.visually-hidden {
    position: absolute;
    width   : 1px;
    height  : 1px;
    margin  : -1px;
    border  : 0;
    padding : 0;
    clip    : rect(0 0 0 0);
    overflow: hidden;
}

img {
    max-width: 100%;
    height   : auto;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height   : auto;
}

header {
    text-align : center;
    padding-top: 73px;
}

.nav-list {
    display        : -webkit-box;
    display        : -ms-flexbox;
    display        : flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width          : 1171px;
    list-style     : none;
    text-transform : uppercase;
    font-size      : 15px;
    font-weight    : 400;
    line-height    : 18px;
    letter-spacing: 2px;
    margin         : 0 auto;
    margin-top     : 42px;
    margin-bottom  : 47px;
    padding        : 0;
}

.nav-list a {
    color: var(--basic-text-color);
}

.nav-list a:hover,
.nav-list a:focus {
    color: var(--basic-link-hover);
}

.nav-list a:active {
    color: var(--basic-link-active);
}

.promo {
    -webkit-box-sizing         : border-box;
            box-sizing         : border-box;
    position           : relative;
    height             : 464px;
    background-image   : url("../img/background-promo.jpg");
    background-repeat  : no-repeat;
    background-size    : cover;
    background-position: center;
    background-color   : var(--basic-footer-background-color);
    text-align         : center;
    padding-top        : 134px;
    padding-bottom     : 47px;
}

.promo::before {
    position           : absolute;
    content            : "";
    width              : 55px;
    height             : 55px;
    top                : 46px;
    left               : calc(50% - 27px);
    background-color   : var(--basic-link-hover);
    border-radius      : 50%;
    background-image   : url("../img/icon-promo.svg");
    background-repeat  : no-repeat;
    background-position: center;
}

.promo h2 {
    font-size     : 72px;
    font-weight   : 400;
    line-height   : 84px;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-align    : center;
    padding-top   : 0;
    margin-top    : 0;
    margin-bottom : 132px;
}

.promo a {
    color: var(--basic-text-light);
}

.promo a:hover,
.promo a:focus {
    color: var(--basic-link-hover);
}

.promo a:active {
    color: var(--basic-link-active);
}

.promo p {
    max-width  : 459px;
    color      : var(--basic-text-light);
    font-size  : 14px;
    font-weight: 400;
    line-height: 23px;
    margin     : 0 auto;
    text-align : center;
}

.review {
    width         : 1168px;
    margin        : 0 auto;
    padding-bottom: 53px;
}

.review h2 {
    text-align    : center;
    text-transform: uppercase;
    font-weight   : 700;
    font-size     : 17px;
    line-height   : 20px;
    letter-spacing: 2px;
    margin-top    : 44px;
    margin-bottom : 20px;
}

.review-list {
    display        : -webkit-box;
    display        : -ms-flexbox;
    display        : flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    list-style     : none;
    margin         : 0;
    margin-left    : 1px;
    padding        : 0;
}

.review-item {
    display       : -webkit-box;
    display       : -ms-flexbox;
    display       : flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width         : 370px;
}

.review h3 {
    font-family  : 'Playfair Display', serif;
    font-size    : 23px;
    line-height  : 31px;
    margin       : 0;
    margin-top   : 20px;
    margin-bottom: 9px;
}

.review a {
    color: var(--basic-text-color);
}

.review-item img {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
}

.review a:hover,
.review a:focus {
    color: var(--basic-link-hover);
}

.review a:active {
    color: var(--basic-link-active);
}

.review-item p {
    margin: 0;
}

.tickets {
    background    : radial-gradient(circle, #ffffff 45%, #f7f7f7 45%);
    padding-top   : 33px;
    padding-bottom: 36px;
    margin-bottom : 50px;
}

.tickets h2 {
    text-align    : center;
    font-size     : 17px;
    line-height   : 20px;
    font-weight   : 700;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin        : 0;
    margin-bottom : 10px;
}

.tickets-list {
    text-align: center;
    list-style: none;
    margin    : 0;
    padding   : 0;
}

.tickets-item {
    position      : relative;
    margin-left   : auto;
    margin-right  : auto;
    width         : 370px;
    padding-top   : 24px;
    padding-bottom: 22px;
}

.tickets-item:not(:last-child)::after {
    position        : absolute;
    content         : "";
    width           : 100px;
    height          : 1px;
    bottom          : 0;
    background-color: var(--basic-text-color);
    opacity         : 0.2;
    left            : calc(50% - 50px);
}

.tickets-item h3 {
    font-family   : 'Playfair Display', serif;
    font-size     : 23px;
    line-height   : 31px;
    margin        : 0;
    padding-bottom: 9px;
}

.tickets-item p {
    text-align : center;
    font-size  : 14px;
    line-height: 21px;
    margin     : 0;
}

.button {
    position        : relative;
    display         : block;
    margin-left     : auto;
    margin-right    : auto;
    padding-left    : 30px;
    padding-top     : 17px;
    padding-bottom  : 16px;
    width           : 140px;
    color           : var(--basic-text-light);
    background-color: var(--basic-link-hover);
    text-transform  : uppercase;
    font-size       : 12px;
    line-height     : 14px;
    font-weight     : 700;
    letter-spacing  : 2px;
    margin-top      : 26px;
}

.button:hover,
.button:focus {
    background-color: var(--basic-link-active);
}

.button::before {
    content         : "";
    position        : absolute;
    width           : 25px;
    height          : 25px;
    top             : 11px;
    left            : 117px;
    background-image: url("../img/icon-arrow.svg");
}

.footer {
    text-align      : center;
    background-color: var(--basic-footer-background-color);
    padding-top     : 36px;
    padding-bottom  : 46px;
}

.nav-footer {
    margin-top: 29px;
    padding       : 0;
    padding-bottom: 45px;
    border-bottom : 1px solid var(--basic-text-light);
    margin-bottom: 41px;
}

.nav-footer a {
    color: var(--basic-text-light);
}

.social-list {
    display        : -webkit-box;
    display        : -ms-flexbox;
    display        : flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    list-style     : none;
    margin         : 0;
    padding        : 0;
}

.social-item {
    display         : block;
    margin-right    : 7px;
    margin-left     : 7px;
    width           : 47px;
    height          : 47px;
    background-color: var(--basic-text-light);
}

.social-item:hover,
.social-item:focus {
    background-color: var(--basic-link-hover);
}

.social-item:active {
    background-color: var(--basic-link-active);
}

.social-instagram {
    background-image   : url("../img/icon_inst.svg");
    background-repeat  : no-repeat;
    background-position: center;
}

.social-facebook {
    background-image   : url("../img/icon-fb.svg");
    background-repeat  : no-repeat;
    background-position: center;
}

.social-twitter {
    background-image   : url("../img/icon-twitter.svg");
    background-repeat  : no-repeat;
    background-position: center;
}